
/*
.photoImgDiv {
  text-align: center;
  width: 500px !important;  
}
*/


.fittr-fake-link {
  cursor: pointer;
}

.fittr-disabled-link, .fittr-disabled-link:hover {
  text-decoration: none !important;
  color: #BBB !important;
  cursor: default !important;
  background-color: transparent !important;
}
