/**
 * Fix The Logo
 * Crops out the ugly "by Yahoo" part of the logo.
 */

td.FlickrLogo a {
  display: block;
  overflow: hidden;
  width: 103px;
  -webkit-transition: width 0.35s ease-out;
}

td.FlickrLogo a:hover {
  width: 180px;
}
  
.fittr-logo-fix {
  position:absolute;
  height: 35px;
  width: 100px;
  background-color: #fff;
  margin-left:108px;
  -webkit-transition: margin-left 0.35s ease-out;
}

#head-logo:hover .fittr-logo-fix {
  margin-left: 185px;
}

