.fitter-shorturl-input {
  border: 0;
  padding: 0;
  color: #3886E6;
  font-size: 11px;
  margin-left: -2px;
  width: 115px;
  cursor: pointer;
  border-bottom: 1px dotted #f0f0f0;
}

.fitter-shorturl-input:hover {
  border-bottom: 1px dotted #3886E6;
}

.fitter-shorturl-input:active {
  background-color: #3886E6;
  color: #fff;
}
