/**
 * Styles for the Exif table.
 */

#fittr-exif-dislay {
  font-size: 8pt;
  color: #999;  
  -webkit-transition: height 0.35s ease-out;
  overflow: hidden;
}

.fittr-exif-table {
  border-bottom: 1px solid #AAA;
  width: 100%;
  border-collapse: collapse;
}

.fittr-exif-table td {
  font-size: 8pt !important;
  color: #999;
  border-top: 1px dotted #AAA;
  padding: 3px;
}
